/*Fonts*/
/*Colors*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  width: 100%;
  margin: 0;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  background-attachment: fixed;
  background-position: 50%;
  background-image: url(../../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -5;
  color: white;
}

main {
  max-width: 1300px;
  margin: 12vh auto;
}

/*anchors*/
a {
  text-decoration: none;
  color: #02fefe;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover:not(.cta) {
  color: #ff9100;
}

.active {
  color: #ff9100;
}

/*Headlines*/
h1 {
  max-width: 380px;
  text-align: center;
  margin: 0px auto 20px auto;
}

h2 {
  margin-bottom: 10px;
}

/*Blocks*/
section:not(#contact) {
  margin-bottom: 50vh !important;
}

.welcome {
  margin-top: 10px !important;
}

#contact p {
  margin-top: 0px;
}

#about,
#skills,
#projects,
#contact {
  scroll-margin-top: 150px;
}

.welcome {
  height: 78vh;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  main {
    width: 95vw;
  }
}

@media only screen and (max-width: 600px) {
  #about,
  #skills,
  #projects,
  #contact {
    scroll-margin-top: 0px;
  }
}

.social-media, .welcome__typewriter,
.contact__textbox, .about__wrapper, #skills, .featured__description {
  border-radius: 10px;
  background-color: rgba(112, 111, 111, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 6px 6px rgba(112, 111, 111, 0.4);
          box-shadow: 0px 6px 6px rgba(112, 111, 111, 0.4);
}

.social-media:hover, .welcome__typewriter:hover,
.contact__textbox:hover, .about__wrapper:hover, #skills:hover, .featured__description:hover {
  background-color: rgba(112, 111, 111, 0.4);
}

.welcome__typewriter,
.contact__textbox {
  margin: auto;
  max-width: 300px;
  line-height: 2;
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
}

#contact, #about, #skills, #projects {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 900ms ease-out, visibility 900ms ease-out;
  transition: opacity 900ms ease-out, visibility 900ms ease-out;
  will-change: opacity, transform, visibility;
}

#contact.visible, #about.visible, #skills.visible, #projects.visible {
  opacity: 1;
  visibility: visible;
}

header {
  color: #02fefe;
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  z-index: 5;
  background-color: rgba(112, 111, 111, 0.2);
  height: 85px;
  position: fixed;
  margin-bottom: 20px;
}

.header__container {
  width: 80vw;
  max-width: 1300px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 30px;
  border: 3px solid #02fefe;
  border-radius: 3px;
  padding: 3px 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.logo:hover {
  border-color: #ff9100;
  color: #ff9100;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.nav__link {
  margin-left: 20px;
}

.nav__link a {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link a:hover {
  color: #ff9100 !important;
}

.menu {
  display: none;
}

.menu .fa-bars {
  cursor: pointer;
}

.menu__dropdown {
  font-size: 22px;
  display: none;
  list-style: none;
  padding-left: 0px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  header {
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    background-color: rgba(112, 111, 111, 0.8);
  }
  .header__container {
    margin-top: 15px;
  }
  .nav__list {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu i {
    font-size: 32px;
  }
  .menu i:hover {
    color: #ff9100;
  }
  .menu__dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    top: 62.5px;
    background-color: rgba(112, 111, 111, 0.8);
  }
  .menu__dropdown a {
    padding-left: 40px;
    padding-top: 10px;
    width: 100%;
    display: block;
  }
  .menu__dropdown a:last-child {
    padding-bottom: 10px;
  }
}

footer {
  text-align: center;
  margin: 10px;
}

footer div:nth-child(1) {
  margin-bottom: 20px;
}

.social-media {
  display: block;
  width: 150px;
  margin: auto;
  margin-top: 0px;
  text-align: center;
  padding: 5px 20px;
}

.social-media .fab {
  font-size: 38px;
  margin: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.welcome__social-media {
  margin-bottom: 100px;
}

/*Icon Colors */
.fa-github {
  color: #bd2c00;
  background: radial-gradient(circle at 50% 50%, white 67%, rgba(238, 130, 238, 0) 50%);
}

.fa-linkedin {
  color: #2867b2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, transparent), color-stop(20%, white), color-stop(80%, white), color-stop(93%, rgba(255, 255, 255, 0)));
  background: linear-gradient(transparent 5%, white 20%, white 80%, rgba(255, 255, 255, 0) 93%);
}

.fa-facebook-square {
  color: #4267b3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, transparent), color-stop(20%, white), color-stop(87%, white), color-stop(90%, rgba(255, 255, 255, 0)));
  background: linear-gradient(transparent 5%, white 20%, white 87%, rgba(255, 255, 255, 0) 90%);
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-facebook-square:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.welcome__typewriter p,
.contact__textbox p {
  line-height: 2;
}

.welcome__typewriter {
  margin-top: 20px;
  min-height: 140px;
  min-width: 250px;
}

@media only screen and (max-width: 360px) {
  .welcome__typewriter {
    padding-bottom: 50px;
  }
}

.cta {
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bd2c00), to(#5f1600));
  background: linear-gradient(#bd2c00, #5f1600);
  display: block;
  margin: 50px auto;
  text-align: center;
  width: 150px;
  height: 23px;
  border-radius: 5px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 6px 6px rgba(189, 44, 0, 0.4);
          box-shadow: 0px 6px 6px rgba(189, 44, 0, 0.4);
}

.cta:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#bd2c00), to(#bd2c00));
  background: linear-gradient(#bd2c00, #bd2c00);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.welcome__cta {
  margin-bottom: 0px;
}

.all-projects__sort-btn {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: white;
  border: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bd2c00), to(#5f1600));
  background-image: linear-gradient(#bd2c00, #5f1600);
  padding: 5px 15px;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
  margin-right: 5px;
  cursor: pointer;
}

.all-projects__sort-btn--active, .all-projects__sort-btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009728), to(#004c14));
  background-image: linear-gradient(#009728, #004c14);
}

#about {
  position: relative;
  max-width: 80%;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.about__wrapper {
  max-width: 80%;
  padding: 10px 20px 10px 20px;
}

.about__wrapper .about__text {
  padding-right: 38%;
  line-height: 1.4;
}

.about__wrapper .about__text span {
  display: block;
}

.about__image-wrapper {
  width: 45%;
  position: absolute;
  top: 60px;
  right: 0%;
}

.about__image {
  background-image: url(../../images/profile.jpg);
  max-width: 100%;
  height: 380px;
  background-size: cover;
  background-position: 50%;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  #about {
    max-width: 100%;
  }
  .about__image-wrapper {
    position: static;
    width: 100%;
  }
  .about__image {
    max-width: 100%;
    height: 300px;
  }
  .about__wrapper {
    max-width: 100%;
    padding-right: 20px;
  }
  .about__wrapper .about__text {
    padding-right: 0px;
  }
}

#skills {
  max-width: 600px;
  margin: auto;
  padding: 10px 20px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.skills__nav {
  list-style: none;
  padding: 0;
  position: absolute;
}

.skills__nav-link {
  border-left: 3px solid #02fefe;
  padding: 15px 10px;
  color: #02fefe;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 20px;
}

.skills__nav-link:hover, .skills__nav-link--active {
  color: #ff9100;
  border-color: #ff9100;
  padding-left: 20px;
}

.skills__content {
  margin-left: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__content .keywords-wrapper {
  list-style: none;
  padding: 0;
  color: #ff9100;
}

.skills__content .keywords-wrapper li {
  display: inline;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  #skills {
    max-width: 100%;
  }
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills__content {
    margin: 0;
    margin-top: 50px;
  }
  .skills__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .skills__nav-link {
    border-left: none;
    border-bottom: 3px solid #02fefe;
  }
  .skills__nav-link:hover, .skills__nav-link--active {
    color: #ff9100;
    border-left: none;
    border-color: #ff9100;
    padding-left: 10px;
    padding-top: 5px;
  }
}

.keywords {
  font-weight: bold;
}

#projects {
  max-width: 80%;
  margin: auto;
}

#projects h3 {
  margin-top: 40px;
}

.featured__project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.featured__image-wrapper {
  overflow: hidden;
  border-radius: 10px;
  width: 50%;
}

.featured__image {
  max-width: 100%;
  height: 250px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.featured__image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.featured__image a {
  display: block;
  width: 100%;
  height: 100%;
}

.featured__description {
  max-width: 70%;
  margin-left: -80px;
  z-index: 1;
  padding: 10px 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.featured__description h3 {
  margin-top: 10px !important;
}

@media only screen and (max-width: 800px) {
  #projects {
    max-width: 100%;
  }
  .featured__project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured__image-wrapper {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 3px solid;
  }
  .featured__description {
    max-width: 100%;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
  }
}

/*All Projects*/
.all-projects__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 10px;
}

.all-projects__wrapper .project {
  background-size: cover !important;
  background-position: 50% 0% !important;
  height: 280px;
  width: 100%;
  position: relative;
  background: rgba(255, 122, 89, 0.5);
  border-radius: 10px;
}

.all-projects__wrapper .project:hover {
  background: #ff7a59;
}

.all-projects__wrapper .project a {
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
}

.all-projects__wrapper .project a span {
  -webkit-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
  color: #ff9100;
}

.all-projects__wrapper .project a .project__text {
  opacity: 0;
}

.all-projects__wrapper .project a:hover .project__text,
.all-projects__wrapper .project a:hover .project__date, .all-projects__wrapper .project a:hover {
  background-color: rgba(112, 111, 111, 0.6);
  opacity: 1;
  color: #ff9100 !important;
}

.all-projects__wrapper .project a:hover .project__text .project__title,
.all-projects__wrapper .project a:hover .project__text .project__date,
.all-projects__wrapper .project a:hover .project__date .project__title,
.all-projects__wrapper .project a:hover .project__date .project__date, .all-projects__wrapper .project a:hover .project__title,
.all-projects__wrapper .project a:hover .project__date {
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
}

.all-projects__wrapper .project__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white !important;
  background: rgba(255, 255, 255, 0) !important;
  text-shadow: 0 6px 6px black;
  font-size: 20px;
}

.all-projects__wrapper .project__title {
  font-size: 28px;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 0 3px 6px black;
  display: block;
  margin-bottom: 5px;
}

.all-projects__wrapper .project__date {
  font-weight: bold;
  background: none !important;
}

@media only screen and (max-width: 1000px) {
  .all-projects__wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .all-projects__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */