html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-main;
  font-size: 18px;
  width: 100%;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-attachment: fixed;
  background-position: 50%;
  background-image: url(../../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -5;
  color: getColor(main);
}

main {
  max-width: 1300px;
  margin: 12vh auto;
}

/*anchors*/
a {
  text-decoration: none;
  color: getColor(link);
  transition: 0.3s;
  &:hover:not(.cta) {
    color: getColor(active);
  }
}

.active {
  color: getColor(active);
}

/*Headlines*/

h1 {
  max-width: 380px;
  text-align: center;
  margin: 0px auto 20px auto;
}

h2 {
  margin-bottom: 10px;
}

/*Blocks*/

section:not(#contact) {
  margin-bottom: 50vh !important;
}
.welcome {
  margin-top: 10px !important;
}

#contact {
  @extend %section-hide;
  h2 {
    margin: 0px;
  }
  p {
    margin: 0px;
  }
}
#contact.visible {
  @extend %section-display;
}

// /***When using nav to scroll down to the section, the section will be 150px below top of window***/
#about,
#skills,
#projects,
#contact {
  scroll-margin-top: 150px;
}

.welcome {
  height: 78vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  main {
    width: 95vw;
  }
}

@media only screen and (max-width: 600px) {
  #about,
  #skills,
  #projects,
  #contact {
    scroll-margin-top: 0px;
  }
}
