.cta {
  padding: 20px;
  background: getColor(button);
  display: block;
  margin: 50px auto;
  text-align: center;
  width: 150px;
  height: 23px;
  border-radius: 5px;
  font-family: $font-secondary;
  color: getColor(main);
  transition: 0.5s;
  box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.2);
  &:hover {
    background: getColor(button-hover);
    box-shadow: 0px 0px 0px 3px rgba(#bd2c00, 0.6);
    // -webkit-box-shadow: 0 0 10px rgba(#bd2c00, 0.2);
    // box-shadow: 0px 6px 6px rgba(getColor(button-hover), 0.4);
  }
}

.welcome__cta {
  margin-bottom: 0px;
}

.all-projects__button {
  display: flex;
  justify-content: space-between;
  h4 {
    margin: 0;
  }
}

.all-projects__sort-btn {
  color: getColor(main);
  transition: 0.3s !important;
}
.all-projects__sort-btn,
select {
  font-family: $font-secondary;
  font-size: 20px;
  background-image: getColor(button);
  border: none;
  padding: 5px 15px;
  &--active,
  &:hover {
    background-image: getColor(sortBtn-hover);
  }
  cursor: pointer;
  margin-right: 5px;
}

select {
  background: rgb(87, 87, 87);
  color: white;
}

.project-types,
.sort-btns {
  display: flex;
}

@media only screen and(max-width: 500px ) {
  .all-projects__button {
    flex-direction: column;
  }
  .project-types {
    gap: 10px;
    div {
      flex: 1;
      select {
        width: 100%;
      }
    }
  }
  .sort-btns {
    gap: 10px;
    button {
      flex: 1;
      margin-right: 0px;
    }
  }
}
