/*All Projects*/

.all-projects__wrapper {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 10px;
  .project {
    position: relative;
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // background: rgba(255, 122, 89, 0.1);
    &__link {
      position: absolute;
      border-radius: 10px;
      background-size: cover !important;
      background-position: 50% 0% !important;
      width: 100%;
      height: 100%;
      transition: 1s;
      &:hover {
        transform: scale(1.1);
      }
    }
    &__text {
      position: absolute;
      width: calc(100% - 20px);
      bottom: 0;
      z-index: 10;
      border-radius: 0 0 10px 10px;
      padding: 10px;
      background-color: rgba(getColor(background), 0.8);
      div {
        margin-bottom: 5px;
      }
      &--header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        h3 {
          margin: 0 !important;
        }
      }
    }
  }

  // .project {
  //   background-size: cover !important;
  //   background-position: 50% 0% !important;
  //   height: 280px;
  //   width: 100%;
  //   position: relative;
  //   background: rgba(255, 122, 89, 0.5);
  //   border-radius: 10px;
  //   &:hover {
  //     background: rgba(255, 122, 89, 1);
  //   }
  //   a {
  //     display: block;
  //     width: 100%;
  //     height: 100%;
  //     z-index: -1;
  //     border-radius: 10px;
  //     span {
  //       transition: 0.6s ease-in;
  //       color: getColor(active);
  //     }
  //     .project__text {
  //       opacity: 0;
  //     }
  //     &:hover .project__text,
  //     &:hover .project__date,
  //     &:hover {
  //       background-color: rgba(getColor(background), 0.6);
  //       opacity: 1;
  //       color: getColor(active) !important;
  //       .project__title,
  //       .project__date {
  //         transform: scale(1.1) !important;
  //       }
  //     }
  //   }
  //   &__text {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     text-align: center;
  //     color: white !important;
  //     background: rgba(white, 0) !important;
  //     text-shadow: 0 6px 6px black;
  //     font-size: 20px;
  //   }
  //   &__title {
  //     font-size: 28px;
  //     font-family: $font-secondary;
  //     text-shadow: 0 3px 6px black;
  //     display: block;
  //     margin-bottom: 5px;
  //   }

  //   &__date {
  //     font-weight: bold;
  //     background: none !important;
  //   }
  //   &__text-attributes {
  //     margin-top: 5px;
  //     div {
  //       text-align: center;
  //     }
  //   }
  // }
}

@media only screen and (max-width: 1000px) {
  .all-projects__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 500px) {
  .all-projects__wrapper {
    grid-template-columns: 1fr;
  }
}
