.social-media {
  display: block;
  width: 150px;
  margin: auto;
  margin-top: 0px;
  text-align: center;
  padding: 5px 20px;
  @extend %background;
  &:hover {
    @extend %background-hover;
  }
  .fab {
    font-size: 38px;
    margin: 5px;
    transition: 0.3s;
  }
}
.welcome__social-media {
  margin-bottom: 100px;
}

/*Icon Colors */

.fa-github {
  color: #bd2c00;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 1) 67%, rgba(238, 130, 238, 0) 50%);
}
.fa-linkedin {
  color: #2867b2;
  background: linear-gradient(transparent 5%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 93%);
}

.fa-facebook-square {
  color: #4267b3;
  background: linear-gradient(transparent 5%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 87%, rgba(255, 255, 255, 0) 90%);
}

.fa-github,
.fa-linkedin,
.fa-facebook-square {
  &:hover {
    transform: scale(1.1);
  }
}
