header {
  color: getColor(link);
  width: 100%;
  font-family: $font-secondary;
  text-align: center;
  z-index: 5;
  background-color: rgba(getColor(background), 0.2);
  height: 85px;
  position: fixed;
  margin-bottom: 20px;
}

.header__container {
  width: 80vw;
  max-width: 1300px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  left: 10%;
  align-items: center;
}

.logo {
  font-size: 30px;
  border: 3px solid getColor(link);
  border-radius: 3px;
  padding: 3px 12px;
  align-self: center;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    border-color: getColor(active);
    color: getColor(active);
  }
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    margin-right: 20px;
  }
  &__link {
    margin-left: 20px;
    a {
      font-size: 22px;
      display: block;
      width: 100%;
      height: 100%;
      transition: 0.3s;
      &:hover {
        color: getColor(active) !important;
      }
    }
  }
}

.menu {
  display: none;
  .fa-bars {
    cursor: pointer;
  }
  &__dropdown {
    font-size: 22px;
    display: none;
    list-style: none;
    padding-left: 0px;
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  header {
    transition: top 0.3s;
    background-color: rgba(getColor(background), 0.8);
    height: 75px;
  }
  .header__container {
    margin-top: 15px;
  }
  .logo {
    font-size: 26px;
  }
  .welcome__social-media {
    margin-top: 20px !important;
    margin-bottom: 50px;
  }
  .nav__list {
    display: none;
  }
  .menu {
    display: block;
    i {
      font-size: 32px;
      &:hover {
        color: getColor(active);
      }
    }
    &__dropdown {
      position: absolute;
      width: 100%;
      left: 0;
      top: 53px;
      background-color: rgba(getColor(background), 0.8);
      a {
        padding-left: 50px;
        padding-top: 10px;
        width: 100%;
        display: block;
      }
      a:last-child {
        padding-bottom: 10px;
      }
    }
  }
}
