%background {
  border-radius: 10px;
  background-color: rgba(getColor(background), 0.7);
  transition: 0.8s;
  box-shadow: 0px 6px 6px rgba(getColor(background), 0.4);
}
%background-hover {
  // transition: rgba(112, 111, 111, 0.8) 0.5s;
  // background-color: rgba(112, 111, 111, 0.85);
  background-color: rgba(62, 62, 60, 0.7);
  // background-color: rgba(getColor(background), 0.4);
}

%textbox-small {
  margin: auto;
  max-width: 300px;
  line-height: 2;
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
}

%section-hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 900ms ease-out, visibility 900ms ease-out;
  will-change: opacity, transform, visibility;
}

%section-display {
  opacity: 1;
  visibility: visible;
}
