%background {
  border-radius: 10px;
  background-color: rgba(getColor(background), 0.7);
  transition: 0.3s;
}
%background-hover {
  background-color: rgba(getColor(background), 0.4);
}

%textbox-small {
  margin: auto;
  max-width: 300px;
  line-height: 2;
  text-align: center;
  padding: 10px 20px;
}

%section-hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 900ms ease-out, visibility 900ms ease-out;
  will-change: opacity, transform, visibility;
}

%section-display {
  opacity: 1;
  visibility: visible;
}
