#skills {
  max-width: 600px;
  margin: auto;
  @extend %background;
  padding: 10px 20px;
  @extend %section-hide;
  transition: 0.8s;
  &:hover {
    @extend %background-hover;
  }
}
#skills.visible {
  @extend %section-display;
}

.skills {
  display: flex;
  position: relative;
}

.skills__nav {
  list-style: none;
  padding: 0;
  position: absolute;
  &-link {
    border-left: 3px solid getColor(link);
    padding: 15px 10px;
    color: getColor(link);
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    &:hover,
    &--active {
      color: getColor(active);
      border-color: getColor(active);
      padding-left: 20px;
    }
  }
}

.skills__content {
  margin-left: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .keywords-wrapper {
    list-style: none;
    padding: 0;
    color: getColor(active);
    li {
      display: inline;
      font-weight: bold;
      margin-right: 10px;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 800px) {
  #skills {
    max-width: 100%;
  }
  .skills {
    flex-direction: column;
    &__content {
      margin: 0;
      margin-top: 50px;
    }
  }
  .skills__nav {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .skills__nav-link {
    border-left: none;
    border-bottom: 3px solid getColor(link);
    &:hover,
    &--active {
      color: getColor(active);
      border-left: none;
      border-color: getColor(active);
      padding-left: 10px;
      padding-top: 5px;
    }
  }
}

.keywords {
  font-weight: bold;
}
