.skills {
  //   margin: auto;
  //   max-width: 800px;
  display: flex;
  &__nav {
    list-style: none;
    padding: 0;
    &-link {
      border-left: 3px solid getColor(link);
      padding: 15px 10px;
      color: getColor(link);
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: getColor(active);
        border-left: 3px solid getColor(active);
      }
      &--active {
        color: getColor(active);
        border-left: 3px solid getColor(active);
      }
    }
  }
}
